@font-face {
    font-family: 'idroid' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colvetica' ;
    src: url('fontes/FontsFree-Net-coolvetica-condensed-rg.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #C5EBD6;
    --cor1: #7BE3AA;
    --cor2: #BADECA;
    --cor3: #90AB9C;
    --cor4: #335E46;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'idroid'
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    color: var(--cor0);
    background-color: var(--cor1);
}


header{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-weight: 100;
    padding-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}

nav{
    text-align: left;
    padding: 10px;
    background-color: var(--cor4);
}
a{
    color: white;
    text-decoration: none;
}
#inicio{
    width: 420px;
    margin: auto;
}

main{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    color: black;

}

h1#titulo{
    font-family: 'colvetica';
}
h1, h2{
    font-family: var(--fonte2);
    font-weight: 100;
    
}


p{
    font-family: sans-serif;
}
footer{
    background-color: var(--cor4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: small;
    padding: 5px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
span{
      padding: 10px;
}
div#video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h3{
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px 5px 0px 0px;
}
ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}
