
body{
    background-color: rgb(160, 240, 140);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkgreen;
    background-color: lightblue;
}
h2{
    color: darkred;
}
p{
    text-align: justify;
}
