@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #248F3D, #42DB66);
}
main{
    background-color: white;
    width:  600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #145323a2;
}

h1{
    color: #D44DDB;
    text-align: center;
    text-shadow: 1px 1px 2px #4c1c4e7a;

}
h2{
    color: #8F8C40;

}

p {
    text-align: justify;
}